
.container{
  // background: linear-gradient(180deg, rgba(214,40,40,1) 0%, rgba(237,179,180,1) 73%, rgba(249,254,255,0.6629026610644257) 100%);
}
.bshadow {
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(5px 5px 5px #dad8d8);
    opacity: .8;
    // margin-top: 25px;
    margin-bottom: 25px;
  }

  .row{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    width: 100%;
    //background: linear-gradient(180deg, rgba(0,48,73,1) 0%, rgba(129,155,168,1) 60%, rgba(249,254,255,0.9374124649859944) 100%);
    //background: linear-gradient(180deg, rgba(252,191,73,1) 0%, rgba(249,254,255,0.9374124649859944) 100%);
    //background: linear-gradient(180deg, rgba(214,40,40,1) 0%, rgba(237,179,180,1) 73%, rgba(249,254,255,0.6629026610644257) 100%);
  }

  .brand{
    width: 36%;
    // padding: 16px;
  }

  .social-network-logo{
    width: 32px
  }