<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
  <img src="assets/images/png/welcome-tour/1.png" />
  <ion-text color="primary" class="first-slide-text">
    Desliza para comenzar 
    <ion-icon name="arrow-forward-outline"></ion-icon>
  </ion-text>
  <ion-label color="primary" class="omit" (click)="navigateToPanel()">Omitir</ion-label>
  </ion-slide>
  <ion-slide>
    <img src="assets/images/png/welcome-tour/2.png" />
    <!-- <h2>Bienvenido a Guia de Turistas</h2>  -->
   </ion-slide>
  <ion-slide>
    <img src="assets/images/png/welcome-tour/3.png" />
    <!-- <h2>Bienvenido a Guia de Turistas</h2>   -->
  </ion-slide>
    <ion-slide>
      <img src="assets/images/png/welcome-tour/4.png" />
      <!-- <h2>Bienvenido a Guia de Turistas</h2>  -->
     </ion-slide>
      <ion-slide>
        <img src="assets/images/png/welcome-tour/5.png" />
        <!-- <h2>Bienvenido a Guia de Turistas</h2>  -->
       </ion-slide>
       <ion-slide>
         <img src="assets/images/png/welcome-tour/6.png" />
         <!-- <h2>Bienvenido a Guia de Turistas</h2>  -->
        </ion-slide>
       <ion-slide>
        <img src="assets/images/png/welcome-tour/7.png" />
        <!-- <h2>Bienvenido a Guia de Turistas</h2>  -->
       </ion-slide>
       <ion-slide>
        <img src="assets/images/png/welcome-tour/8.png" />
        <!-- <h2>Bienvenido a Guia de Turistas</h2>  -->
       </ion-slide>
       <ion-slide>
        <img src="assets/images/png/welcome-tour/9.png" />
        <!-- <h2>Bienvenido a Guia de Turistas</h2>  -->
       </ion-slide>

        <ion-slide>
          <img src="assets/images/png/welcome-tour/10.png" />
          <ion-button expand="block" share="round" color="primary" (click)="navigateToPanel()">Comenzar</ion-button>
          <!-- <h2>Bienvenido a Guia de Turistas</h2>  -->
         </ion-slide>
  </ion-slides>