.camera-button{
    // margin-top: 40%;
}
.success-icon{
    font-size: 36px;
}
.chart-container{
    min-height: 300px;
    min-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}